@{
    ViewData["Title"] = "Home Page";
    var jointUrl = "https://cdn.jsdelivr.net/npm/@joint/core/dist/joint.js";
}
<link rel="stylesheet" href="css/joint.css"/>

<div id="paper"></div>

@section Scripts {
    <script src="@jointUrl"></script>
    <script src="js/jointjs/links.js"></script>
    <script src="js/jointjs/utils.js"></script>
    <script src="js/jointjs/class.js"></script>
    <script src="js/jointjs/index.js"></script>
    <script src="js/jointjs/dummy.js"></script>
}
