@{
    ViewData["Title"] = "Home Page";
    var jointUrl = "https://cdn.jsdelivr.net/npm/@joint/core/dist/joint.js";
}
<link rel="stylesheet" href="css/joint.css"/>

<div id="paper"></div>

<script src="@jointUrl"></script>
