#paper {
    border: 1px solid #000 !important;
    width: 29.7cm !important;
    height: 21cm !important;
}

.btn-uml {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-uml img {
    height: 100%;
}

.placeholder-space {
    border: 1px solid transparent;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-selected {
    box-shadow: 1px 1px 6px #000;
    background-color: #bbb;
}