#paper-container {
    border: 1px solid #000 !important;
    width: 100%;
    height: 800px;
    overflow: auto;
}

#paper {
    width: 29.7cm !important;
    height: 21cm !important;
}

#icons {
    padding: 1px;
    position: absolute;
    z-index: 999;
    background: #fff;
    border: 1px solid #000 !important;
}

.btn-uml {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.btn-uml img {
    height: 100%;
}

.placeholder-space {
    border: 1px solid transparent;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.figure-selected {
    box-shadow: 1px 1px 6px #000;
    background-color: #bbb;
}